body {
  background: #141414;
  color: white;
}
.list > div {
  width: 300px;
  margin: 1rem;
}
.image-container {
  max-width: 100%;
}

.movie-app > .row {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  flex-wrap: nowrap;
}
.row {
  scrollbar-width: none;
}
.row::-webkit-scrollbar {
  display: none;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.search-box {
  width: 100%;
  padding: 0.75em;
  border: none;
  border-radius: 1rem;
  outline: none;
}
